* {
  margin: 0;
  padding: 0;
}

.nav {
  padding: 0em 0em 0em 2em;
  display: flex;
  align-items: center;
  height: 10vh;
  background-image: linear-gradient(to bottom, #0bd4c2, #a2a5ff);
  background-color: #3d5ec9;
}

.gif {
  margin-right: 2em;
  transform: scale(3);
}

.WebsiteName {
  font-size: 1.5em;
  color: white;
  font-family: 'Shojumaru', cursive;
}

.PrincipalDiv {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LikeButton {
  font-size: 2em;
  margin: 0em 1em;
  padding: 1em 1em;
  border-radius: 25px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
}

.LikeButton:hover {
  background-color: gray;
  color: white;
}
